<!DOCTYPE html>
<html lang="en">
  <head>
   <meta charset="UTF-8">
   <title>Hello Page</title>
  </head>
  <body>
    <h1>Hello!</h1>
    <p>Welcome to our simple Flask app.</p>

    <form method="post" action="/submit">
      <input type="text" name="name">
      <input type="submit" value="Submit">
    </form>
    
    <form method="post" action="/submit"></form>
      <button type="submit" name="chupep">Click Me!</button>
    </form>

    <form action="/action_page.php" method="get">
      Choose your favorite subject:
      <button name="subject" type="submit" value="fav_HTML">HTML</button>
      <button name="subject" type="submit" value="fav_CSS">CSS</button>
    </form>
  </body>
</html>